#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

/**
 * @name Dim Unloaded Tabs
 * @author Niklas Gollenstede
 * @licence CC-BY-SA-4.0 or MIT or MPL 2.0
 * @description
 *     This style dims not loaded tabs in Firefox.
 *     It is complementary to the UnloadTabs WebExtension and can either:
 *     * be manually added to the `chrome/user.chrome.css` file in Firefox's profile directory
 *     * or installed with the reStyle Firefox extension (and NativeExt).
 *
 *     If you have any issues with this style, please open a ticket at https://github.com/NiklasGollenstede/unload-tabs
 */

@-moz-document
    url(chrome://browser/content/browser.xhtml),
    url(chrome://browser/content/browser.xul)
{
    tab[pending], #alltabs-popup menuitem[pending]
    {
        opacity: 0.6 !important;
    }
}